<h1>aliado.no</h1>
<br/><br/>
<div class="notice">
  Software Craftsmen in Action! aliado.no is changing, we're planning courses in ruby and rails in Oslo 2011.  
</div>
<br/>
<div class="success">
	Meanwhile, you may stay updated with what we do at oma's <%= link_to "blog", "http://olemortenamundsen.wordpress.com"%>, open source at  <%= link_to 'github.com/lacostej', 'http://github.com/lacostej' %>,  <%= link_to 'github.com/oma', 'http://github.com/oma' %> or follow<%= link_to "@lacostej", "http://twitter.com/lacostej" %> and <%= link_to "@ole_morten", "http://twitter.com/ole_morten" %>  
</end>
		